{% extends "layout.html" %}

{% block page_title %}
    Contribuir
{% endblock %}

{% block sidebar %}
<li class="nav-item ">
    <a class="nav-link" href="/dashboard">
        <i class="material-icons">dashboard</i>
        <p>Dashboard</p>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/pesquisar">
        <i class="material-icons">search</i>
        <p>Pesquisar</p>
    </a>
</li>
<li class="nav-item active">
    <a class="nav-link" href="/contribuir">
        <i class="material-icons">cloud_upload</i>
        <p>Contribuir</p>
    </a>
</li>
{% endblock %}

{% block content %}
    contribuir
{% endblock %}