{% extends "layout.html" %}

{% block page_title %}
    Dashboard
{% endblock %}
{% block page_h1 %} 
    Dashboard 
{% endblock %} 

{% block sidebar %}
<li class="nav-item active">
    <a class="nav-link" href="/dashboard">
        <i class="material-icons">dashboard</i>
        <p>Dashboard</p>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/pesquisar">
        <i class="material-icons">search</i>
        <p>Pesquisar</p>
    </a>
</li>
<li class="nav-item ">
    <a class="nav-link" href="/contribuir">
        <i class="material-icons">cloud_upload</i>
        <p>Contribuir</p>
    </a>
</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="card-header card-header-text card-header-info">
                <div class="card-text">
                    <h4 class="card-title">Últimos arquivos enviados</h4>
                    <p class="card-category">Arquivos enviados por todos os usuários</p>
                </div>
                </div>
                <div class="card-body table-responsive">
                <table class="table table-hover">
                    <thead class="text-info">
                        <th>Nome</th>
                        <th>Contribuinte</th>
                        <th>Tipo</th>
                        <th>Disciplina</th>
                        <th>Professor</th>
                        <th class="text-center">Ano</th>
                        <th class="text-center">Semestre</th>
                        <th class="text-center">Download</th>
                    </thead>
                    <tbody>
                        {% for coluna, content in arquivos_gerais.iterrows() %}
                            <tr>
                            <td>{{ content[0] }}</td>
                            <td>{{ content[1] }}</td>
                            <td>{{ content[2] }}</td>
                            <td>{{ content[3].capitalize() }}</td>
                            <td>{{ content[4] }}</td>
                            <td class="text-center">{{ content[5] }}</td>
                            <td class="text-center">{{ content[6] }}</td>
                            <td class="text-center">
                                    <a href="#" rel="tooltip" title="Baixar arquivo" >
                                        <i class="material-icons" style="font-size: 2rem; color: #00bcd4">cloud_download</i>
                                    </a>
                            </td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12">
            <div class="card">
            <div class="card-header card-header-text card-header-success">
                <div class="card-text">
                <h4 class="card-title">Meus arquivos enviados</h4>
                <p class="card-category">Últimos arquivos enviados por mim</p>
                </div>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover">
                <thead class="text-success">
                    <th>Nome do Arquivo</th>
                    <th>Tipo</th>
                    <th>Disciplina</th>
                    <th>Professor</th>
                    <th class="text-center">Ano</th>
                    <th class="text-center">Semestre</th>
                    <th class="text-center">Download</th>
                    <th class="text-center">Excluir</th>
                </thead>
                <tbody>
                    {% for coluna, content in meus_arquivos.iterrows() %}
                        <tr>
                        <td>{{ content[0] }}</td>
                        <td>{{ content[1] }}</td>
                        <td>{{ content[2] }}</td>
                        <td>{{ content[3] }}</td>
                        <td class="text-center">{{ content[4] }}</td>
                        <td class="text-center">{{ content[5] }}</td>
                        <td class="text-center">
                            <a href="#" rel="tooltip" title="Baixar arquivo" >
                                <i class="material-icons" style="font-size: 2rem; color: #00bcd4">cloud_download</i>
                            </a>
                        </td>
                        <td class="text-center">
                            <a href="#" rel="tooltip" title="Excluir arquivo" onclick="demo.showSwal('warning-message-and-cancel')">
                                <i class="material-icons" style="font-size: 1.5rem; color: #f44336">close</i>
                            </a>
                        </td>
                        </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
            </div>
        </div>
</div>
{% endblock %}
